body {
    background-color: black;
}



h2 {
    color: white;

}

p1 {
    font-size: 35px;
    color:white
}

.arrangement {
    float: left;
    width: 33.33%;
    padding: 5px;
}

h3 {
    color:white;
}

h4 {
    color:white;
}

p2 {
    color:white;
}

p3 {
    color:white;
}