body {
    background-color: black;
}

hr {
background: none;
border: 0;
clear: both;
display: block;
float: none;
font-size: 0;
padding: 0;
overflow: hidden;
visibility: hidden;
}

div.ex1{
    margin:35px;
}

h2 {
    color: white;

}

a:link, a:visited {
  background-color:#FFBC17;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

p1 {
    font-size: 35px;
    color:white
}

h3 {
    color:white;
}

h4 {
    color:white;
}

p2 {
    color:white;
}

p3 {
    color:white;
}

h5 {
    color:white;
}
